.loader {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.loader.sm svg {
    width: 16px;
    height: 16px;
}

.loader.md svg {
    width: 24px;
    height: 24px;
}

.spinner {
    animation: spin 0.8s linear infinite;
    transform-origin: center;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
